<div class="wrapper">

    {{main-header}}

    {{main-sidebar}}


    <section class="content-wrapper" style="min-height: 1126px">
        {{content-header}}

        <!-- Main content -->
        <section class="content">

          <!-- Your Page Content Here -->

          {{outlet}}
        </section>
        <!-- /.content -->

    </section>

    {{main-footer}}

</div>
